.header {
    height: 75px;
    background: #C496FF;
    border-radius: 10px;
    float: left;
    border: 1px solid #b082eb;
    margin: 5px;
}

.table{
    border-spacing: 0;
    margin: 1rem;
    
}

.table__row:nth-child(even) {
    background-color: #e5e5e5;
}

.table__header{
    text-align: left;
}

.table__cell{
    padding:8px;
}